@{
    ViewData["Title1"] = "Home Page";
}
<script>
    var query_list = {};
</script>

<div class="modal  ng-scope" id="modalCreate" tabindex="-1" role="dialog"
     aria-labelledby="createUserModalLabel" aria-hidden="true" ng-controller="editCtrl">
    <div class="modal-dialog" style="margin-top: 80px;" >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="createUserModalLabel">我要加班</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div  class="input-group col-xs-12 bottom-gap">
                        <span class="input-group-addon addon-width-4 " style="width:95px; text-align:right;">姓名:</span>
                        <input  id="txtName" readonly class="form-control validator ng-pristine ng-invalid ng-invalid-required"
                                description="姓名" type="text" ng-model="model.name"/>
                    </div>
                    <div class="input-group col-xs-12 bottom-gap">
                        <span class="input-group-addon addon-width-4 " style="width:95px; text-align:right;">昵称:</span>
                        <input class="form-control validator ng-pristine ng-invalid ng-invalid-required" validator="htmlChar"
                               id="txtNick" description="昵称" required="required" type="text" ng-model="model.nick"/>
                    </div>

                    <div class="input-group col-xs-12 bottom-gap">
                        <span class="input-group-addon addon-width-4 " style="width:95px; text-align:right;">邮箱:</span>
                        <input class="form-control validator ng-pristine ng-invalid ng-invalid-required" validator="htmlChar"
                               id="txtEmail" description="邮箱" required="required" type="text" ng-model="model.email"/>
                    </div>

                    <div class="input-group col-xs-12 bottom-gap">
                        <span class="input-group-addon addon-width-4 " style="width:95px; text-align:right;">密码:</span>
                        <input class="form-control validator ng-pristine ng-invalid ng-invalid-required" validator="htmlChar"
                               id="txtPass" description="密码" required="required" type="text" ng-model="model.password"/>
                    </div>

                    <div class="input-group col-xs-12 bottom-gap">
                        <span class="input-group-addon addon-width-4 " style="width:95px; text-align:right;">确认密码:</span>
                        <input class="form-control validator ng-pristine ng-invalid ng-invalid-required" validator="htmlChar"
                               id="txtConfirm" description="确认密码" required="required" type="text" />
                    </div>

                    <div class="input-group col-xs-12 bottom-gap">
                        <span class="input-group-addon addon-width-4 " style="width:95px; text-align:right;">头像:</span>
                        <span class= 'btn btn-default fileinput-button form-control' style:'width:95px;'>
                            <i class= 'glyphicon glyphicon-upload'></i>
                            <span>上传文件</span>
                            <input class= "validator" validator='specialChar' id='uploadInput' fileupload type= 'file' name='portraits'
                                description='图片路径' required='' />
                        </span>
                
                    </div>

                    <div class="input-group col-xs-12">
                        <img id="imgUpload" style="display:none; max-width:500px; max-height:500px;">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary  col-xs-offset-6" id="btnSave" type="button"  ng-click="save()">保存</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<div class="wrap" style="position:fixed;left:0;right:0;top:0;bottom:50px;margin:auto;overflow:auto; z-index: 3">
    <div id="user" ng-controller="modelsCtrl" onselectstart="return false" class="ng-scope" style="margin-top: 50px;">
        <div class="well well-sm">
            <div class="container fixed-width">
                <button type="button" class="btn btn-primary" id="btnCreate"  data-toggle="modal" data-target="#modalCreate" >
                    添加
                </button>
                <button type="button" class="btn btn-default" id="btnRemove" ng-click="exportExcel(this, $event.target)">
                    删除
                </button>
                <div class="col-xs-3 input-group pull-right searchPanel">
                    <input type="text" class="form-control" id="searchInput" datetimepicker readonly placeholder="请选择时间">

                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default" id="searchBtn" ng-click="search($event.target)">搜索</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="container fixed-width">
            <h3 class="pageInfo">用户管理</h3>
            <div class="panel panel-default">
                <table class="table table-striped" style="table-layout:fixed;word-wrap:break-word;" id="tblUses">
                    <thead class="thead-color">
                    <tr>
                        <th class="col-xs-2" style="cursor:pointer" ng-click="orderColumn='createdAt'; orderMode=!orderMode">
                            编号
                        </th>
                        <th class="col-xs-2" style="cursor:pointer" ng-click="orderColumn='updatedAt'; orderMode=!orderMode">
                            姓名
                        </th>
                        <th class="col-xs-3" style="cursor:pointer" ng-click="orderColumn='updatedAt'; orderMode=!orderMode">
                            昵称
                        </th>
                        <th class="col-xs-3" style="cursor:pointer" ng-click="orderColumn='updatedAt'; orderMode=!orderMode">
                            头像
                        </th>
                        <th class="col-xs-2">操作</th>
                    </tr>
                    </thead>
                    <tbody class="userList" style="display:none">
                    <tr ng-repeat="model in models">

                        <td class="col-xs-2" ng-bind="model.id"></td>
                        <td class="col-xs-2" ng-bind="model.name"></td>
                        <td class="col-xs-3" ng-bind="model.nick"></td>
                        <td class="col-xs-3" ng-bind="model.portrait"></td>
                        <td class="col-xs-2">
                            <a href="javascript:void(0)" ng-click="navToDetail(this, $target.event)" >详情</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="page_y" id="pager"></div>
        </div>
    </div>
</div>